{% extends "base.html" %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">

<div id="reset-password">
  <form id="resetPasswordForm" method="POST" action="">
      <h1>Recuperar Senha</h1>
      <p>
          <label for="email">Seu e-mail</label>
          <input id="email" name="email" required="required" type="text"
              placeholder="Digite seu e-mail para recuperar a senha" />
      </p>
      <p>
          <input type="submit" value="Recuperar" />
      </p>
  </form>
</div>

{% endblock %}
