{% extends "base.html" %}

{% block title %}Cadastre-se{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/cadastro.css') }}">

<div id="sign_up">
  <form id="signUpForm" method="POST" action="">
      <h1>Cadastre-se</h1>
      <p>
          <label for="email_cad">Seu e-mail</label>
          <input id="email_cad" name="email_cad" required="required" type="email"
              placeholder="Digite seu e-mail " />
      </p>
      
      <p>
          <label for="nome_cad">Seu nome</label>
          <input id="nome_cad" name="nome_cad" required="required" type="text"
              placeholder="Digite seu nome " />
      </p>

      <p>
          <label for="senha_cad">Sua senha</label>
          <input id="senha_cad" name="senha_cad" required="required" type="password"
              placeholder="Digite sua senha " />
      </p>
      
      <p>
          <label for="confirma_senha_cad">Confirme sua senha</label>
          <input id="confirma_senha_cad" name="confirma_senha_cad" required="required" type="password"
              placeholder="Confirme sua senha " />
      </p>

      <p>
          <input type="submit" value="Cadastrar" />
      </p>

      <p class="link">
          Já tem uma conta?
          <a href="{{ url_for('auth.login') }}">Faça login</a>
      </p>
  </form>
</div>



{% endblock %}
